body {
    background-color: black;
    color: white;
}
button {
    background-color: darkcyan;
    color: white;
}
button:hover {
    background-color: turquoise;
}
button:active {
    background-color: turquoise;
}
button {
    margin: 5px;
}
